{% load staticfiles %}
{% load endless %}

{% paginate 5 bbs %}
{% for bbs in bbs %}
           <li class="post">
           <div class="contentBox">
             <div class="frame">
              <a href="#" class="profile">
                {% if bbs.user.userprofile.picture %}
                  <img src="{{ MEDIA_URL }}{{ bbs.user.userprofile.picture }}" alt=""/>
                {% else %}
                  <img src="{% static "img/profile.png"%}" alt=""/>
                {% endif %}
              </a>
              <div class="title">
                <a href="detail/{{ bbs.id }}" >{{ bbs.title }}</a>
              </div>
              <a href="#" class="name">{{ bbs.user.userprofile.nickname }}</a>
            </div>
            <span class="capacity">{{ bbs.capacity }}</span>
            <span class="period">{{ bbs.period }}</span>
            <span class="place">{{ bbs.place }}</span>
            <a href="#" class="plus"><span>+</span></a>
           </div>
           <div class="secframe">
              <span class="category">{{ bbs.category }}</span>
              <span class="created ">{{ bbs.created }}</span>
           </div>
         </li>
         {% endfor %}
{% show_more %}
