{% load endless %}

{% paginate 5 bbs %}
{% for bbs in bbs %}
           <li class="post">
           <div class="contentBox">
             <div class="frame">
              <a href="#" class="profile">
              </a>
              <div class="title">
                <a href="#" >{{ bbs.title }}</a>
              </div>
              <a href="#" class="name">{{ bbs.user.userprofile.nickname }}</a>
            </div>
            <div class="info">

            </div>
            <span class="capacity">{{ bbs.capacity }}</span>
            <span class="period">{{ bbs.period }}</span>
            <span class="place">{{ bbs.place }}</span>
            <a href="#" class="plus"><span href="#">+</span></a>
           </div>
             <a href="#" class=".box" style="height: 30px; color: snow;">{{ bbs.category }}</a>
         </li>
         {% endfor %}
{% show_more %}
