{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <title>Let's Study !!</title>
  <link rel="stylesheet" href="{% static "css/normalize.css"%}">
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static "css/common.css"%}">
  <link rel="stylesheet" href="{% static "css/main.css"%}">
  <script src="{% static "js/jquery-2.1.3.min.js"%}"></script>
  <script src="{% static "js/common.js"%}"></script>
  <script src="{% static "js/jquery.dotdotdot.min.js"%}"></script>
  <script src="{% static "js/endless_pagination.js"%}"></script>
  <script src="{% static "js/spin.min.js"%}"></script>
  <script>

    $(function() {
      $("#contents .post").show();
      $.endlessPaginate({
        paginateOnScroll: true,
        paginateOnScrollMargin: 40
      });

      /*
      var target = $('.endless_loading');
      target.html("");
      var spinner = new Spinner().spin();
      target.append(spinner.el);
       */
      $("#contents .contentBox .title").dotdotdot({
        /*	The text to add as ellipsis. */
        ellipsis	: '... ',

        /*	How to cut off the text/html: 'word'/'letter'/'children' */
        wrap		: 'letter',

        /*	Wrap-option fallback to 'letter' for long words */
        fallbackToLetter: true,

        /*	jQuery-selector for the element to keep and put after the ellipsis. */
        after		: null,

        /*	Whether to update the ellipsis: true/'window' */
        watch		: true,

        /*	Optionally set a max-height, if null, the height will be measured. */
        height		: 40
      });
      var clickObjs = [];
      $("#searchBox li").click(function() {
        var key = $(this).parent().attr("class");
        var value = $(this).html();

        if($(this).val() == 1){
          $(this).val(0);
          for(var i=0; i < clickObjs.length; i++){
            if(clickObjs[i].key==key && clickObjs[i].value==value){
              clickObjs.splice(i,1);
              break;
            }
          }
        } else {
          $(this).val(1);
          clickObjs.push({
            key:key,
            value:value
          })
        }

        var j = JSON.stringify(clickObjs);
        $.ajax({
          url: baseUrl + 'select/',
          type: 'get',
          data: {data: j},
          success: function(data) {
            $("#bbs-list").html('');
            $.each(data, function(index, item){
              console.log(item);
              bbsAppend(item);
            });
          },
          error: function(msg) {
            alert("FAil");
          }
        });
        var bbsAppend = function(data) {
            console.log("aaaaaaaaaa")
            var node = $('#contents .post-dummy').clone();
            $('.title > a',node).append(data.title);
            $('.title > a',node).attr("href","detail/" + data.id);
            $('.name',node).append(data.nickname);
            $('.capacity',node).append(data.capacity);
            $('.period',node).append(data.period);
            $('.place',node).append(data.place);
            $('.category',node).append(data.category);
            if(data.picture == null) {
              $('.profile img',node).attr("src", "{% static "img/profile.png"%}");
            } else {
              $('.profile img',node).attr("src", "{{ MEDIA_URL }}{{ datas.user.userprofile.picture }}");
            }
            node.removeClass('post-dummy');
            node.addClass('post');
            node.show();
            $('#bbs-list').append(node);

          };
      });

    });
  </script>
  <style>
    #searchBox .category li {
			background-color: skyblue;
			margin: 10px;
		}
    #contents .post-dummy {
      display: none ;
    }
  </style>
</head>
<body>
  <div id="container">
    {% include "header.html" %}
    <div id="searchBox">
      <ul class="category">
      	<li>IT</li>
      	<li>토익</li>
        <li>음악</li>
      </ul>
      <ul class="place">
      	<li>서울</li>
      	<li>인천</li>
      </ul>
    </div>
    <div id="contents">
       <ul class="wrap" id="bbs-list">
         {% include page_template %}
       </ul>
       <li class="post-dummy">
           <div class="contentBox">
             <div class="frame">
              <a href="#" class="profile">
                <img src="" alt=""/>
              </a>
              <div class="title">
                <a href="#" ></a>
              </div>
              <a href="#" class="name"></a>
            </div>
            <span class="capacity"></span>
            <span class="period"></span>
            <span class="place"></span>
            <a href="#" class="plus"><span>+</span></a>
           </div>
           <div class="secframe">
              <span class="category"></span>
              <span class="created "></span>
           </div>
       </li>
    </div>
    <footer id="footer">
      <div class="wrap">

      </div>
    </footer>
  </div>
</body>
</html>
