#contents > .wrap {
      overflow: hidden;
      width: 800px;
    }
#contents > .post {
  display: none;
}
    .contentBox {
      position: relative;
      margin: 5px;
      width:300px;
      height:110px;
      border:2px solid #0D364D;
      padding:10px;
      word-break: break-all;
    }

    .contentBox .frame .profile {
      float: left;
      width: 80px;
      height: 80px;

      background-size: cover;
      border-right: 2px solid #0D364D;
    }
    .contentBox .frame {
      position: absolute;
      overflow: hidden;
      width:298px;
      height: 80px;
      margin-top: -10px;
      margin-left: -10px;
      border-bottom: 2px solid #0D364D;
    }
    .contentBox .frame .title {
      font-size: 15px;
      line-height: 20px;
      width: 215px;
      height: 50px;
      margin-left: 80px;
      display: block;
      padding: 10px;

    }
    .contentBox .frame .title a {
      color: snow;
      font-weight: 500;
      letter-spacing: 1px;
    }
    .contentBox .frame .name  {
      position: absolute;
      left: 90px;
      bottom: 6px;
      color:  #298B93;
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 15px;
    }
    .contentBox .info {
      position: absolute;
      bottom: -2px;
      left: -2px;
      width:82px;
      height:30px;
      border-right: 2px solid #0D364D;
    }
    .contentBox span {
      position: absolute;
      color: #FEC900;
      font-size: 13px;
      top: 84px;
    }
    .contentBox .capacity {
      left: 100px;
    }
    .contentBox .period {
      left: 5px;
    }
    .contentBox .place {
      left: 150px;
    }
    .contentBox .plus {
      border-left: 2px solid #0D364D;
      width:30px;
      height:30px;
      position: absolute;
      left: 268px;
      top: 78px;
    }
    .contentBox .plus span {
      color: #0D364D;
      font-size: 25px;
      position: absolute;
      top: 1px;
      left: 5px;
    }
    #searchBox {
      width: 100%;
      height: 180px;
      border-bottom: 2px solid #0D364D;
    }
    #contents > .wrap > .post:after {
      content: "";
      width: 2px;
      background: #0e374e;
      position: absolute;
      top: 4px;
      bottom: 4px;
      left: 50%;
      margin-left: -1px;
      z-index: 1;
    }

    #contents > .wrap > .post:before {
      content: "";
      position: absolute;
      left: 49.2%;
      border: 2px solid #0e374e;
      display: block;
      width: 10px;
      height: 10px;
      background: #214760;
      z-index: 2;
    }
    #contents > .wrap > .post:nth-of-type(2n) > .contentBox {
      margin-left: 56%;
    }

    #contents >.wrap > .post {
      width: 100%;
      margin: 40px 0;
      margin-left: -7px;
    }
